<div class="sent">
    <div class="sent-nav">
        <div class="head">
            <h3>All Sent Emails</h3>
            <input type="search" [(ngModel)]="key" (input)="findEmail(key)" placeholder="Search">
        </div>
        <div class="sent-emails">
            @for (item of sentEmails; track $index) {
                @if(isLoading){
                    <span>isLoading</span>
                    <app-loader/>
                    <p-skeleton width="100%" height="7rem" />
                } @else if(sentEmails.length > 0){
                    <div [routerLink]="['/dashboard/sent']" [queryParams]="{id: item.id}" class="email-card">
                        <div class="top-details">
                            <div class="to-subject">
                                <h4 class="truncate-sentence">{{item.subject}}</h4>
                                <span class="truncate-sentence">{{item.toEmails}}</span>
                            </div>
                            <span >{{item.sentAt | formatDate}}</span>
                        </div>
                        <p class="truncate-text" [innerHTML]="htmlToText(item.htmlContent)"></p>
                    </div>
                } @else if(sentEmails.length == 0) {
                    <span>No Emails sent.</span>
                }
            }
        </div>
    </div>
    <div class="emails">
       <router-outlet/>
    </div>
</div>