<div class="new-mail">

    <div class="editor">
        <div class="to input">
            <app-email-chips (toEmails)="getToEmails($event)" placeholder="To"/>
        </div>
        <div class="subject input">
            <input type="text"  placeholder="Subject" [(ngModel)]="subject" name="subject" id="">
        </div>
        <div class="cc input">
            <app-email-chips (toEmails)="getToCC($event)" placeholder="Cc"/>
        </div>
        <div class="bcc input">
            <app-email-chips (toEmails)="getToBcc($event)" placeholder="Bcc"/>
        </div>
        <div class="preview">
            <!-- <textarea [innerHTML]="sanitizedMessage(getInnerHTML(editorContent))" cols="" rows=""></textarea>  -->
            <div class="content" [innerHTML]="sanitizedMessage(itemSelected.htmlContent)"></div>
        </div>
    </div>

    <!-- <quill-editor width="1100px" classes="editor" [(ngModel)]="editorContent"
    [modules]="quillConfig!.modules"
    [formats]="quillConfig!.formats"
    placeholder="Job Description..."
    (onEditorCreated)="onEditorCreated($event)"
    (onContentChanged)="onContentChanged($event)"
    (onSelectionChanged)="onSelectionChanged($event)">
</quill-editor> -->

   <div class="edit-data">
    <div class="head">
        <h3>Email Template</h3>
        <span (click)="toggleTemaplte()">Choose template</span>
    </div>
   <div class="field-template">
   @if (isTemplateToggle) {
    <div class="all-templates">
      @if(templates.length > 0){
        @for (item of templates; track $index) {
            <div (click)="getData(item)" class="card">
                <img [src]="item.samplePicture" alt="">
                <span>{{item.title}}</span>
            </div>
        }
      } @else {
        <span>No Template Available</span>
      }
    </div>
   } @else {
    <div class="fields">
        @for (item of getKeys(itemSelected.templateVariables); track item) {
            <div class="input-group">
                <label class="label">{{item}}</label>
                <textarea 
                    [(ngModel)]="templateFields[item]" 
                    name="{{item}}" 
                    class="textarea"
                    rows="3"
                    placeholder="Enter {{item}}..."
                ></textarea>
            </div>
        }
            @if(isLoading){
                <app-loader/>
            } @else {
                <button (click)="sendEmail()" class="send-button">Send Email</button>
            }
    </div>
   }
    
   </div>
   </div>

</div>