<div class="config">
    <div class="container">
      <div class="head">
        <h3>Email Configurations</h3>
        <div class="action-button">
          <button (click)="openDocsDiolog()">Email Provider Docs</button>
          <button (click)="openAddProviderDialog()">Add Provider</button>
        </div>
      </div>
  
      <div class="providers">
        @if(isLoading){
          <div class="provider">
            <div class="details">
              <span><p-skeleton width="10rem"  borderRadius="12px" height="2rem" /></span>
              <span><p-skeleton width="10rem"  borderRadius="12px" height="2rem" /></span>
            </div>
            <div class="action">
              <p-skeleton shape="circle" size="2rem" styleClass="mr-2" />
          </div>
          </div>
        } @else if (providers.length == 0) {
          <span>No Providers</span>
        } @else {
          @for (item of providers; track $index) {
            <div class="provider">
              <div class="details">
                <span>{{item.username}}</span>
                <span>{{transform(item.password).slice(0, 15)}}</span>
              </div>
              <div class="action">
               @if(item.active == true){
                 <span class="fas fa-check activeProvider"></span>
                } @else {
                 <span (click)="makeProviderActive(item)" class="fas fa-plug inactiveProvider"></span>
               }
              </div>
            </div>
          }
        }
      </div>
      </div>
    </div>
  

