<div class="nav">
    <div class="first">
        <div class="logo">
            <span>NewsLetter</span>
        </div>
        <div class="menu">
            <ul>
                <li><a class="new-email" [routerLink]="['new-email']"><span class="material-symbols-outlined">add</span> New Mail</a></li>
                <!-- <li><a class="navigate" [routerLink]="['overview']">Overview</a></li> -->
                <li><a class="navigate" [routerLink]="['sent']">Sent</a></li>
                <!-- <li><a class="navigate">Draft</a></li> -->
                <!-- <li><a>Templates</a></li> -->
                <li><a class="navigate" [routerLink]="['email-config']">Email Configuration</a></li>
                <li><a class="navigate" [routerLink]="['settings']">Settings</a></li>
                <li><a class="navigate" [routerLink]="['add-template']">Add Template</a></li>
            </ul>
        </div>
    </div>
    
    <div class="last">
        <div class="menu">
            <ul>
                <li><a class="navigate">
                    <div class="profile">
                        <span class="circle"></span>
                        <span class="details">
                            <h3>Pandit Alabi</h3>
                            <span>{{"pandit.alabi@devlaps.co"}}</span>
                        </span>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</div>