<div class="nav">
    <div class="first">
        <div class="menu">
            <ul>
                <li><a class="new-email" [routerLink]="['new-email']"><span class="material-symbols-outlined">mail</span> New Email</a></li>
                <!-- <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['overview']"><span class="material-symbols-outlined">dashboard_2</span>Overview</a></li> -->
                <!-- <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['campaigns']"><span class="material-symbols-outlined">campaign</span>Campaigns</a></li> -->
                <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['audience']"><span class="material-symbols-outlined">groups</span>Audience</a></li>
                <!-- <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['automations']"><span class="material-symbols-outlined">automation</span>Automations</a></li> -->
                <!-- <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['services']"><span class="material-symbols-outlined">select_window</span>Services</a></li> -->
                <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['settings']"><span class="material-symbols-outlined">settings</span>Settings</a></li>
                <!-- <li><a class="navigate" [routerLink]="['sent']">Sent</a></li> -->
                <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['email-config']"><span class="material-symbols-outlined">manufacturing</span>Email Configuration</a></li>
            </ul>
        </div>
    </div>
    
    <div class="last">
        <div class="menu">
            <ul>
                <li><a class="navigat">
                    <div (click)="logout()" class="logout">
                        <span class="material-symbols-outlined">logout</span>
                        <span>Logout</span>
                    </div>
                   @if(userData != null){
                    <div class="profile">
                        <span class="circle">{{userData.firstName.charAt(0).toUpperCase() + (userData.lastName ? userData?.lastName.charAt(0).toUpperCase() : "")}}</span>
                        <span class="details">
                            <h3 style="text-transform: capitalize;" >{{userData!.firstName + " " + (userData?.lastName ? userData.lastName : "")}}</h3>
                            <span>{{userData.email}}</span>
                        </span>
                    </div>
                   }
                </a></li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="small-nav">
   <div class="left">
    <span (click)="toggleNavBar()" class="material-symbols-outlined">menu</span>
    <span>The NewsLetter</span>
   </div>
   <div class="right">
        <span class="small">@if(userData != null){
            {{userData.firstName.charAt(0).toUpperCase() + (userData.lastName ? userData?.lastName.charAt(0).toUpperCase() : "")}}   
        } @else {
            <span style="font-variation-settings: 'FILL' 1; font-size: 17px;" class="material-symbols-outlined">person</span>
        }
    </span>
   </div>
</div> -->

<p-sidebar [(visible)]="sidebarVisible">
    <div class="nav-small">
        <div class="first">
            <div class="menu">
                <ul>
                    <li><a class="new-email" [routerLink]="['new-email']"><span class="material-symbols-outlined">mail</span> New Email</a></li>
                    <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['overview']"><span class="material-symbols-outlined">dashboard_2</span>Overview</a></li>
                    <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['campaigns']"><span class="material-symbols-outlined">campaign</span>Campaigns</a></li>
                    <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['audience']"><span class="material-symbols-outlined">groups</span>Audience</a></li>
                    <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['automations']"><span class="material-symbols-outlined">automation</span>Automations</a></li>
                    <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['services']"><span class="material-symbols-outlined">select_window</span>Services</a></li>
                    <li><a class="navigate" [routerLinkActive]="['activeRoute']" [routerLink]="['settings']"><span class="material-symbols-outlined">settings</span>Settings</a></li>
                    <li><a class="navigate" [routerLink]="['sent']">Sent</a></li>
                    <li><a class="navigate" [routerLink]="['email-config']">Email Configuration</a></li>
                </ul>
            </div>
        </div>
        
        <!-- <div class="last">
            <div class="menu">
                <ul>
                    <li><a class="navigate">
                        <div (click)="logout()" class="logout">
                            <span class="material-symbols-outlined">logout</span>
                            <span>Logout</span>
                        </div>
                       @if(userData != null){
                        <div class="profile">
                            <span class="circle">{{userData.firstName.charAt(0).toUpperCase() + (userData.lastName ? userData?.lastName.charAt(0).toUpperCase() : "")}}</span>
                            <span class="details">
                                <h3 style="text-transform: capitalize;" >{{userData!.firstName + " " + (userData?.lastName ? userData.lastName : "")}}</h3>
                                <span>{{userData.email}}</span>
                            </span>
                        </div>
                       }
                    </a></li>
                </ul>
            </div>
        </div> -->
    </div>
    
</p-sidebar>