<div class="nav">
    <div class="first">
        <div class="logo">
            <span>The NewsLetter</span>
        </div>
        <div class="menu">
            <ul>
                <li><a class="new-email" [routerLink]="['new-email']"><span class="material-symbols-outlined">add</span> New Mail</a></li>
                <!-- <li><a class="navigate" [routerLink]="['overview']">Overview</a></li> -->
                <li><a class="navigate" [routerLink]="['sent']">Sent</a></li>
                <!-- <li><a class="navigate">Draft</a></li> -->
                <!-- <li><a>Templates</a></li> -->
                <li><a class="navigate" [routerLink]="['email-config']">Email Configuration</a></li>
                <li><a class="navigate" [routerLink]="['settings']">Settings</a></li>
                @if (isAdmin) {
                    <li><a class="navigate" [routerLink]="['add-template']">Add Template</a></li>
                }
            </ul>
        </div>
    </div>
    
    <div class="last">
        <div class="menu">
            <ul>
                <li><a class="navigate">
                    <div class="logout">
                        <span class="material-symbols-outlined">logout</span>
                        <span>Logout</span>
                    </div>
                   @if(userData != null){
                    <div class="profile">
                        <span class="circle">{{userData.firstName.charAt(0) + userData.lastName.charAt(0)}}</span>
                        <span class="details">
                            <h3>{{userData!.firstName + " " + userData.lastName}}</h3>
                            <span>{{userData.email}}</span>
                        </span>
                    </div>
                   }
                </a></li>
            </ul>
        </div>
    </div>
</div>